[test1]
input=tests/test1.ts
width=240
height=160
video_bitrate=410
audio_bitrate=192
port=test1_audio0xe6
audio_pid=0xe6 
baseurl=http://192.168.1.12

[test2]
input=tests/test1.ts
width=240
height=160
video_bitrate=410
audio_bitrate=192
port=test1_audio0xe7
audio_pid=0xe6 
baseurl=http://192.168.1.12
